@model IdentityUser

@{
    ViewData["Title"] = "Delete User";
}

<h1>Delete User</h1>

<form method="post">
    <div>
        <h6>Are you Sure ?</h6>
        <div>
            <a asp-route-id="@Model.Id" hidden></a>
            <input type="submit" class="btn btn-danger" value="Delete">
            <a class="btn btn-dark" asp-action="UserList" type="button">Cancal</a>
        </div>
    </div>
</form>