@model IdentityRole


<h1>Edit Role</h1>
<form method="post">
    <div asp-validation-summary="All">
        <div>
            <input asp-for="Id" hidden>
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Edit Role">
            <a class="btn btn-dark" asp-action="RolesList">Cancel</a>
        </div>
    </div>
</form>