@model StudentViewModel

@{
    ViewData["Title"] = "Edit Student";
}


<h1>Edit Student</h1>
<form method="post">
    <div asp-validation-summary="All">
        <div>
            <label asp-for="Id"></label>
            <input asp-for="Id" readonly>
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <label asp-for="Address"></label>
            <input asp-for="Address">
            <span asp-validation-for="Address"></span>
        </div>

        <div>
            <input type="submit" value="Add Student" class="btn btn-primary">
            <button class="btn btn-dark" asp-action="GetStudents">Cancel</button>
        </div>
    </div>
</form>